language: php

php:
  - 7.0.27
  - 7.1
  - 7.2

branches:
  only:
    - master

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source

script:
  - vendor/bin/phpunit

notifications:
  slack:
    secure: GULWrHBhPh4M3XovwG719zPDD0N6A02SLM3qS9rr97ed3koD6MtVhBQxOIzJeD5FuzpUpZcQlUy2Q2tlsDTabOZFhJNkMC/sDFxBPQo6t3Uwoynao5eIIpR1FgCcJm29tYykGe7YObGgbD5gCnebeQjAocp2VJuifPeqeigAqWtloXZrfwweCqbd6GEPcJp6uiM4d1Vfg5hKmcRcsvlbQLhRrEkyVpYpbh19vXdltABRHnjbB1SSFVCAST809heNeb/dmexpjqQsgVurz65yYN+4LRxixXSX/XR/3GEsU/RRU3D9+JRzPBmMjh8cnicDEyUEXBIrxc0r+Fcjin94oHHYv6OJ4nhEu2ux4p9ca/vb215iTaherYE0nbLbOG9oKEKgpXk0+CSjdIHbfydyyK3/x3rxk6r068lciTHbs8fxdvAyILlERo/6ziCLfH/NXZ3y92OlfDBHJiPCqPresscS9lUFFhNUV9Lds5kcm16BfAQV4+DC3J7+pn24e32bWsB/B6Aang57FS1sz1DRMdqVubrxsf+QGWgqdPx5mRkqwDifAi5bhQl/hBgZYC9vx7p1zOJiOSESOlFzYB+/SMVCZeI2+irL2t/b+jbMJA0rgFYiCWGJiMfvVV4I6tAU0cgxyDpHT/9n665gpOEblF2nPGFv88jGGswaX1qZZ1E=
    on_success: never
    on_fail: always
